body{
    background-color: rgb(239, 245, 245);
}
.header {
    display: block;
    text-align: center;
    margin: 0px auto;
}
img {
    margin: 5px 0px 5px auto;
    max-width: 30%;
    max-height: 30%;
}
p {
    text-align: justify;
    font-size: small;
}
h3 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 0px 0px 0px;
    
}
.destaque{
    margin: 10px auto;
    display: inline-flexbox;
    text-align: center;
    align-content: center;
    vertical-align: bottom;
    height: 40px;
}.destaque span {
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(32, 28, 28);
}